.logo {
    height:200px;
}

nav {
    margin-top: 5px;
    text-align: center;
}
.card {
    margin-top: 20px;
}
#words {
    2px;
    text-align:center;
}


h1 {
    text-align: center;
    margin-top: 20px;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

button {
    width:200px;
}

#shop:hover {
    background-color: rgb(185, 151, 159);
    color: white;
}
#shop:active {
    background-color: rgb(120, 77, 87);
    color: white;
    
}

#buttonx {
    text-align: center;
}

#meow {
    height:350px;
}

.container {
    background-color: rgba(252, 220, 191, 0.733);
}

footer {
    margin-top: 50px;
}