.container{
    background-color:rgba(252, 220, 191, 0.733);
}

.bg-hero-image{
    background-color: rgba(255, 189, 159, 0.589);
    height: 300px;
    border-width:2px;
    margin-bottom: 10px;
}

.logo {
    height:200px;
}

nav {
    margin-top: 5px;
}


.carousel{
    width:500px;
    text-align:center;
    
}

#review{
    border-color:black;
    border-radius:3px;
    border-style:solid;
    margin-top:20px;
}

.stars{
    margin-bottom:10px;
    height:70px;
    align-items: center;
}

